<% include ./partials/header %>
<% include ./partials/main_nav %>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
<div class="container">
 
<h1><%= title %></h1>
<p style="color: red;"><%= description %></p>

</div>
</main>
<% include ./partials/footer %>











