<% include ./partials/header %>
<% include ./partials/main_nav %>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5"> Create student  </h1>
        
      <form action="/save-student" method="post">

        <input type="text" name="studentName" id="">
        <input type="submit" value="submit">
      </form>
    
    </div>
  </main>


<% include ./partials/footer %>
