<% include ./partials/header %>
<% include ./partials/main_nav %>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5"> student  Details </h1>
    
      <table class="table">
          <tr><th>Name</th><th>Place</th> <th>Message </th></tr>
          <tr><td> <%= studentId.name.toUpperCase() %> </td> <td><%= studentId.place%></td><td> <%= message%></td></tr>


      </table>
    </div>
  </main>


<% include ./partials/footer %>
