<% include ./partials/header %>
<% include ./partials/main_nav %>

<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5"> Create student <%=studentName %> </h1>
        
    
    </div>
  </main>


<% include ./partials/footer %>
