<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <h1>hai</h1>
    <button id="makeAjaxrequest">get Name</button> <small id="loading"></small>

    <div id="layer1"></div>


    <script>

            
        document.addEventListener('DOMContentLoaded', (event) => {
         
            //Sintax: XMLHttpRequest.open(method, url[, async[, user[, password]]])

            //1)
            let httpRequest = new XMLHttpRequest();


            httpRequest.addEventListener("progress", ()=>console.log("progress"));
             httpRequest.addEventListener("load", ()=>{  
                 //NOT working
                    document.getElementById("loading").innerHTML="Loading ........." ;
                    console.log("load")
                });
             httpRequest.addEventListener("loadend", ()=>{
                document.getElementById("loading").innerHTML=" ";
                 console.log("loadend");
                });
             httpRequest.addEventListener("error", ()=>console.log("error"));
             httpRequest.addEventListener("abort", ()=>console.log("abort"));



            let callback = (event)=>{
                document.getElementById("loading").innerHTML="Loading ........."


                   httpRequest.onreadystatechange = ()=>{
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            let div = document.createElement('h1');
                            div.append( document.createTextNode(httpRequest.responseText));
                            document.body.appendChild(div);  
                            // NOTE: this logic is moved to eventListner
                            //  document.getElementById("loading").innerHTML=" ";
                        }else{
                            // document.getElementById("loading").innerHTML=" ";
                                  alert("say that it is error");
                        }
                       
                    }
               }
               // TOPIC:1 calling sincroniously
               //httpRequest.open('GET', 'makeajaxcall',false);

               httpRequest.open('GET', 'makeajaxcall');
               httpRequest.send();
            
            }

            
            document.getElementById("makeAjaxrequest").addEventListener("click", callback);

        });

    </script>
    
</body>
</html>