<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boom Boom</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>JqAJAX</title>
    

  </head>
  <body>



    <div class="container">
        <h1>Students, Management</h1>
       
        <div class="row" style="border-bottom: 1px solid #333;padding-bottom:10pt;">
          <div class="col-12">
            <h3>Search Student</h3>
          </div>
          
          <div class="col-6">
            <button id="loadDATA" class="btn btn-primary">load data</button>
            <input type="number" name="searchID" id="id" min="10" max="100" step="10">
          </div>
          <div class="col-6">
            <div id="dataloder"></div>
          </div>
        </div>
 
        <div class="row" style="border-bottom: 1px solid #333;padding-bottom:10pt;">
          <div class="col-6">
            <h2>Create student</h2>


            <form id="createStudent">
              <div class="form-group"> 
                <label for="exampleInputEmail1">ID</label>
                <input type="number" class="form-control" name="studentsId" min="30" max="100" step="10">
             
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" name="studentName" placeholder="Name">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Place</label>
                <input type="text" class="form-control" name="studentPlace" placeholder="plase">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div id="submittedStatus" class="alert alert-primary" role="alert" style="display: none;">
              user data submitted
            </div>

          </div>

          <div class="col-6">
            <h1>List of all students</h1>
            <div id="loadstudents"></div>
          </div>

        </div>
      </div>




      <div class="modal fade" id="Loding-modal" role="dialog">
        <div class="modal-dialog">
        
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Loading ..........</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            
              <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          
        </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>


        $( document ).ready(function() {
            loadStudentsData();

          // -- 1) searching data 
            let httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = ()=>{
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                          let obj = JSON.parse( httpRequest.responseText);
                          console.log( obj);
  
                          if(obj.Message){
                            var errorHeading = document.createElement("h2");
                            errorHeading.innerHTML = obj.Message;   
                            document.getElementById("dataloder").appendChild(errorHeading);
                          }else{
                                var Heading = document.createElement("h2");                 // Create a <p> element
                              Heading.innerHTML = obj.name;   


                            var para = document.createElement("small");                 // Create a <p> element
                              para.innerHTML = " "+obj.place;  
                            document.getElementById("dataloder").appendChild(Heading).appendChild(para);
                            }
                      $("#Loding-modal").modal("hide");
                      
                        }}};
           function searchById(){
              $("#Loding-modal").modal("show");
                var id = document.getElementsByName('searchID')[0].value;
               
                var params = "id="+id;
              // httpRequest.open('GET', 'senddata');
                httpRequest.open("GET", 'student-search'+"?"+params);
                httpRequest.setRequestHeader("x-userName", "Arshiya");
                httpRequest.send();
            }

            function JQsearchById(){

              //$.get(url, {},()=>{})
              //$("[name='searchID']")
              //$.get("student-search",{id: document.getElementsByName('searchID')[0].value} ,function(data, status){

              $.get("student-search",{id: $("[name='searchID']").val()} ,function(data, status){

                $("<h2/>",{
                      // id: "a",
                      text:data.name +" ",
                      // style:"background-color:red;height:50px;",
                      // class: "classA"
                    }).append($("<small>").text(data.place)).appendTo("#dataloder");

                  console.log("==============");
                  console.log(data);
                  console.log(status);
                  console.log("==============");
                  
              });
            }
                        
            // $('#loadDATA').click(searchById);


            // using Jquery
            $('#loadDATA').click(JQsearchById);




     // -- 2) submitting data

            let xhr = new XMLHttpRequest();
       
            xhr.onreadystatechange =()=>{
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                          // alert(xhr.responseText);
                          document.getElementById("submittedStatus").style.display="block";
                          loadStudentsData();
                          $("#Loding-modal").modal("hide");

                          setTimeout(()=>{
                            document.getElementById("submittedStatus").style.display="none";
                        },4000);


                        }
                    }
                  };


            $('#createStudent').submit((event)=>{
              $("#Loding-modal").modal("show");
              event.preventDefault();

                var userdata='';
                userdata+="id="+document.getElementsByName('studentsId')[0].value+'&';
                userdata+="name="+document.getElementsByName('studentName')[0].value+'&';
                userdata+="place="+document.getElementsByName('studentPlace')[0].value;

                  console.log(userdata);
                     xhr.open("POST", '/store-student');
                     xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                 xhr.send(userdata);
             
            });
            


          // 3 loading data 

txt = "";
          function loadStudentsData(){
            $("#Loding-modal").modal("show");
            txt = "";
            let xhrDataLoder = new XMLHttpRequest();
          xhrDataLoder.onreadystatechange =()=>{
                    if (xhrDataLoder.readyState === xhrDataLoder.DONE) {
                        if (xhrDataLoder.status === 200) {
                          // console.log(" loaded all students -----------");
                          // console.log(xhrDataLoder.responseText);
                          // console.log(" loaded all students -----------");

                          let students = JSON.parse( xhrDataLoder.responseText);
                          //   console.log(" loaded all students -----------");
                          // console.log(xhrDataLoder.responseText);
                          // console.log(students);
                          // console.log(" loaded all students -----------");

                            txt += "<table class='table'>";
                            txt += "<tr><th>ID</th> <th>Name</th><th>Place</th> <th>Delet</th>  </tr>";
                            for (x in students) {
                              txt += "<tr class='student'> "+"<td>" + students[x].id + "</td>" +"<td>" + students[x].name + "</td>"+"<td>" + students[x].place + "</td>"+"<td> <button class='btn btn-primary' data-id="+students[x].id+">delet  <span class='spinner-border spinner-border-sm'></span> </button> </td>"+"</tr>";
                            }
                            
                            txt += "</table>";
                            document.getElementById("loadstudents").innerHTML = txt;
                            $("#Loding-modal").modal("hide");

                            adddeletEventsTODOm();

                        }
                    }
                  };
            xhrDataLoder.open("GET", '/all-students');
            xhrDataLoder.send();
          }


          //----------------------------- delet




          let deletXhr = new XMLHttpRequest();
       
          deletXhr.onreadystatechange =()=>{
               if (deletXhr.readyState === XMLHttpRequest.DONE) {
                   if (deletXhr.status === 200) {
                    loadStudentsData();
                    $("#Loding-modal").modal("hide");  

                   }
               }
             };


      
          function adddeletEventsTODOm(){
            
          $('.student button > span').hide();
            var elements = $('.student button');
              elements.click((event)=>{
             
                $(event.target).find("span").show();
                var stuid = "id="+$(event.target).data('id');
                          
                // deletXhr.open("GET", 'student-delet'+"?"+stuid);
                deletXhr.open("DELETE", 'student-delet'+"?"+stuid);
                deletXhr.send();
              })
            // console.log(elements);
          }
         


        });

       


    </script>
  </body>
</html>